VITE_SUPABASE_URL=example
VITE_SUPABASE_ANON_KEY=example
VITE_REVENUECAT_APPLE_API_KEY=appl_xxxxxxxxxxxxxxxxxxxxx
VITE_REVENUECAT_GOOGLE_API_KEY=goog_xxxxxxxxxxxxxxxxxxxxx
VITE_HCAPTCHA_SITEKEY=your_hcaptcha_sitekey_here
